.capsLockWarning {
  height: 0;
  display: flex;
  justify-content: end;
  position: relative;
  width: 98%;
  color: var(--activeButton);
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.formGroup label {
  color: var(--textColor);
  margin-bottom: 0.313rem;
}

.formGroup input,
textarea,
select {
  padding: 0.5rem 0.625rem;
  font-size: 0.875rem;
  border: 0.063rem solid var(--gray);
  border-radius: 0.313rem;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input::placeholder {
  color: #CCCCCC;
  font-size: 12px;
}

input:focus {
  border: 0.063rem solid var(--activeButton);
}

.errorMessage {
  height: 0px;
  color: var(--red);
  font-size: 0.75rem;
  position: relative;
  top: 0.125rem;
}

.iconPassword {
  display: flex;
  width: 97.5%;
  height: 0;
  justify-content: end;
  cursor: pointer;
  border: none;
  font-size: 1.6rem;
  color: var(--gray);
}

.iconPassword svg {
  height: 20px;
  width: 20px;
  bottom: 1.00rem;
  position: relative;
}