@import url("../../App.css");

.mainContent {
  padding: 1.25em 1.25em 0.125em 1.25em;

  display: flex;
  flex-direction: column;
  gap: 1.25em;
}

.header {
  gap: 1.25em;
  display: flex;
  flex-direction: row;
}

.header h1 {
  font-size: 1.875rem;
  font-weight: bold;
}

.header p {
  font-size: 0.875rem;
  align-self: center;
}

.functions {
  height: 40px;
  padding: 0.75em;
  gap: 1.25em;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.functions .buttons .button {
  margin: 0em 0.625em;
  background-color: var(--mainColor);
}

.functions .input {
  width: 15.625em;
  align-self: center;
}

.stockInfo {
  height: 40px;
  padding: 0.75em 2.5em;
  border-radius: 0.625em;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  background-color: var(--background-secondary);

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.stockInfo .values {
  font-weight: bold;
  font-size: 0.875rem;
  margin-bottom: 0.313em;
}

.stockInfo .description {
  font-size: 0.75rem;
}
  