.sider {
  min-height: 100vh;
  overflow: auto;
}

.userName {
  font-weight: bold;
  color: white;
  padding: 0px 0px 10px 0px;
}

.userType {
  color: white;
}

.userData {
  padding: 20px 0px;
  width: 100%;
  align-items: center;
}

/* Ajuste para telas pequenas */
@media (max-width: 768px) {
  .sider {
    position: fixed;
    z-index: 1000;
    height: 100%;
  }

  .userData {
    padding: 10px 0;
  }

  .userName {
    font-size: 14px;
    text-align: center;
  }
}
