.container_erro {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: var(--fontPadrao);
  line-height: 24px;
}

.img404 {
  height: 300px;
  padding-bottom: 10px;
}
